*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color:#eee;
}
html, body {width: auto!important; overflow-x: hidden!important} 

#header{
    padding-top: 30px;
   
   
}
#work > li>a{
    color:black;
    font-size: 18px;
}
.logo img{
    width: 300px;
    margin-left: 25px;
}

h1 { 
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}

input#email{
    margin-top: 15px;
   
    padding: 8px 75px;
}
button#get\ started {
    padding: 10px 55px;
}

.features-section{
    margin-top: 116px;
    margin-left: 40px;
}
.grid{
    display: flex;
   }

.features-section .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 16vw;
    color: darkorange;
}
.features-section .description{
    display: flex;
    flex-direction: column;
      
}
i.fa.fa-3x.fa-fire {
    padding-left: 35px;
}
i.fa.fa-3x.fa-truck {
    padding-left: 35px;
}
i.fa.fa-3x.fa-battery-full {
    padding-left: 35px;
}
div#grid1 {
    padding-bottom: 50px;
}
div#grid2 {
    padding-bottom: 50px;
}
div#grid3 {
    padding-bottom: 50px;
}
.how_it_works{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
iframe{
width:560px;
}
.card pb-4{
    border: 2px solid black;
}
.card-header{
    background-color: #DDDDDD;
}
.card-header h4{
    font-size: 19px;
    color:black;
    font-weight: 600;
}
span{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
ol li{
list-style-type: none;
margin:15px 0px;
text-align: center;
}
button#select{
    padding:8px 40px;
    border-radius: 4px;
    background-color: #f1c40f;
    font-weight: 400;
    border: transparent;
    margin-top: 14px;
}

.footer{
    background-color:#333;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer>ul{
  
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
ul li{
    list-style-type: none;
}
li a{
    padding-right: 15px;
    text-decoration: none;
    color:white;
}
i.fa.fa-bars {
    display: none;
}
.footer>p{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
ol, ul {
    padding-left: 1rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media only screen and (max-width: 767px){
    .logo img {
        width: 200px;
       margin-top: 7px;
       margin-left: auto;
    }
    ul#work{
        text-align: center;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
        .features-section {
           margin:40px 0px 0px 0px;
           padding: 0;            
        }
        .features-section .icon{
            padding-right: 48px;
            height: 36px;
        }
        .fa-3x{
            font-size: 40px;
        }
        .card.pb-4 {
            margin:20px 0px;
        }
        .card-body{
            background-color: #fff;

        }
        button#get\ started {
            padding: 10px 47px;
        }
        .how_it_works{
            margin-top: 8px;
        }
        body > div > div.footer > ul > li{
            font-size: 17px;
        }
        

}
@media only screen and (min-width: 768px) and (max-width:1024px){
   
    .features-section {
        margin-top: 75px;
        margin-left: -20px;
    }
    .features-section .icon{
        padding-right: 48px;
        height: 42px;
    }
    body > div.container-fluid > div.cards-main-section > div > div.col-md-3.text-center > div{
        padding-bottom: 5px;
    }
    input#email {
        margin-top: 20px;
        padding: 8px 75px;
    }
}
